<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.financial">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/android"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Financial"
        tools:targetApi="31">
        <activity
            android:name=".other.OutManageActivity"
            android:exported="false" />
        <activity
            android:name=".other.InManageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SysSettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DataAnalyseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PayDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NewPayActivity"
            android:exported="false" />
        <activity
            android:name=".activity.InComeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NewInComeActivity"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.RegisterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MainActivity" />
    </application>

</manifest>